body{
  font-family: 'Lato', sans-serif;
  margin: 50px 15% 20px 15%;
  text-align: justify;
  line-height: 1.5;
}

button{
  min-height: 28px;
}

.imgQueen{
  display: inline-block;
  position: relative;
  top: 10px;
  height: 64px;
}

.smallPicture {
  width: 36px;
  height: 36px;
}
.exempleTable td, th{
  border: 2px solid black;
  text-align: center;
  width: 50px;
  height: 50px;
}

.exempleTable table {
  border-collapse: collapse;
}

.imgWarning{
  display: inline-block;
  position: relative;
  top: 5px;
  height: 24px;
}

h1{
  text-align: center;
}

h4{
  color: #808080;
}

.resultTable {
  text-align: center;
  width: 100%;
}

.resultTable td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.resultTable td:first-child {
  text-align: center;
}

table {
  border-collapse: collapse;
}

.tab1{
  margin-left: 20px;
}
.tab2{
  margin-left: 40px;
}
.tab3{
  margin-left: 60px;
}

.codeZone{
  padding: 2px;
  background-color: #ededed;
  border-radius: 10px;
}